<ul class="sidebar-nav">
  {% if user.is_authenticated %}
  <li>Logged in as {{ user.get_username }}</li>
      <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
      <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}
  <hr>
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'books' %}">All books</a></li>
  <li><a href="{% url 'authors' %}">All authors</a></li>
  {% if user.is_authenticated %}
      <li><a href="{% url 'my-borrowed' %}">My borrowed books</a></li>
  {% endif %}
</ul>
