/* side bar */

.sidebar-nav {
    margin-top: 20px;
    padding: 0px;
    list-style: none;
}

/* book list */

div.book-list {
    margin-top: 20px;
}

/* book */

.book {
    margin-top: 20px;
}

.book .title {
    margin-bottom: 40px; 
}

.book .summary {
    background: #ffffcc;
    border-left: 2px solid #69c;
    padding: 2px 10px;
    max-width: 50em;
    vertical-align: text-bottom;
}

.book-instances {
    margin-top: 20px;
    padding-left: 10px;
}

/* book instance */

.book-instance .status {
    font-weight: bold;
}

/* author list */

div.author-list {
    margin-top: 20px;
}

/* author */

.author {
    margin-top: 20px;
}

.author .name {
    margin-bottom: 20px; 
}

.author .book-list {
    margin-top: 20px;
    padding-left: 0px;
}

/* misc */

.no-bullets {
    list-style-type: none;
}
