{% extends "base_generic.html" %}

{% block title %}
  {% include "_title.html" with prefix="Author detail" %}
{% endblock %}

{% block content %}
  <div class="author" id="author-{{author.pk}}">
    {% include "catalog/_author.html" with object=author %}
    <div class="books">
      <h4>Books ({{ author.book_set.count }})</h4>
        {% if author.book_set.all %}
          {% for book in author.book_set.all %}
            <div class="book">
              <strong>
                <a href="{{ book.get_absolute_url }}">{{ book }}</a> ({{ book.bookinstance_set.count }})
              </strong>
              <div class="summary">
                {{ book.summary }}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>There are no books from this author in the library.</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
