{% extends "base_generic.html" %}

{% block title %}
  {% include "_title.html" with prefix="Author detail" %}
{% endblock %}

{% block content %}
  <div class="author" id="author-{{author.pk}}">
    {% include "catalog/_author.html" with object=author %}
    <div class="instances">
      <h4>Books</h4>
      {% if author.book_set.all %}
        <ul>
          {% for book in author.book_set.all %}
              <li><a href="{{ book.get_absolute_url }}">{{ book }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
          <p>There are no books from this author in the library.</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
